---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <h1>Product Not Found</h1>
    <p>
        The item you are looking for is no longer available. browse our <a
            href="/shop">catalog</a
        >.
    </p>
</Layout>
