---
import Layout from "../layouts/Layout.astro";
import { POSTS_QUERY } from "@repo/sanity";
import { sanityFetch } from "../lib/sanity";

const posts = await sanityFetch({ query: POSTS_QUERY });
---

<Layout>
    <main class="p-8">
        <h1 class="text-4xl mb-8 font-bold tracking-tight">Hello</h1>
        <ul class="flex flex-col gap-y-2">
            {
                posts.map((post) => (
                    <li class="flex flex-col gap-0.5 w-fit group">
                        <a
                            class="text-lg group-hover:underline"
                            href={`/posts/${post.slug?.current}`}
                        >
                            {post.title}
                        </a>
                        {post.publishedAt && (
                            <span class="text-sm text-neutral-400">
                                {new Date(
                                    post.publishedAt,
                                ).toLocaleDateString()}
                            </span>
                        )}
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
